@font-face {
    font-family: 'WorkSans';
    src: url('./assets/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
}
h1 {
    font-family: 'WorkSans';
    font-weight: 700;
    color: hsl(292, 42%, 14%);
}
h2 {
    font-family: 'WorkSans';
    margin-right: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    color: hsl(292, 42%, 14%);
}
p {
    font-family: 'WorkSans';
    font-size: 16px;
    line-height: 1.5rem;
    font-weight: 400;
    color: hsl(292, 16%, 49%);
}